NEXT_PUBLIC_SUPABASE_URL=https://qziknkninlxeoaabflqe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6aWtua25pbmx4ZW9hYWJmbHFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyODYxNTUsImV4cCI6MjA5OTg2MjE1NX0.MYxsuB6cE2sNZE84dkwPiDA7RAFbEoZ0EQjH-wYYKZk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6aWtua25pbmx4ZW9hYWJmbHFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDI4NjE1NSwiZXhwIjoyMDk5ODYyMTU1fQ.0IERUH0CmmYq0Gr-6EZDkt7dAWPbuQ_ZU7IUbOJjUWw
NEXT_PUBLIC_BASE_URL=https://wedding-invitation-zakia-wildan.vercel.app
